# Ignorar archivos y directorios especificados
android.keystore
app-release-signed.apk
app-release-signed.apk.idsig
app-release-bundle.aab
app-release-unsigned-aligned.apk
build.gradle
gradlew
gradlew.bat
gradle.properties
manifest-checksum.txt
settings.gradle
store_icon.png
twa-manifest.json

# Ignorar directorios especificados
app/
gradle/
.gradle/
.vscode/
