body {
    background: linear-gradient(to right, #0000FF, #4B0082);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #1c1c1c; /* Color oscuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
    color: #ffffff; /* Color de texto blanco */
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    width: 100%;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #444;
    box-sizing: border-box;
    background-color: #333; /* Fondo oscuro para las entradas */
    color: #ffffff; /* Texto blanco para las entradas */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}

#message {
    margin-top: 10px;
    font-size: 16px;
    color: red;
}
